<% let idQuery = ""; if(id !== false) { idQuery = "&id=" + id; } %>
<div id="cards">
    <div class="card r">
        <h1 id="cnt"></h1>
        <h3>sniffs</h3>
    </div>
    <div class="card y">
        <h1 id="cntMac"></h1>
        <h3>unique MACs</h3>
    </div>
    <% if(boards) { %>
        <div class="card g">
            <h1 id="cntFrom"></h1>
            <h3>unique boards</h3>
        </div>
    <% } %>
</div>
<h2>in the last <%= Math.floor(range / (24 * 3600 * 1000)) %>d <%= Math.floor(range / (3600 * 1000)) % 24 %>h <%= Math.floor(range / (60 * 1000)) % 60 %>m <%= Math.floor(range / 1000) % 60 %>s <span class="gray">(<a href="?range=3600000<%= idQuery %>">1h</a> <a href="?range=10800000<%= idQuery %>">3h</a> <a href="?range=86400000<%= idQuery %>">1d</a> <a href="?range=604800000<%= idQuery %>">7d</a>?)</span></h2>
<canvas id="chart"></canvas>